<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Data Integrated Syatem</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Signout</a>
                                </li>
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">About</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <div>
                <div class="row">
                    <div class="col-md-7">
                        <h3>
                            Andhra Pradesh Data bank

                        </h3>
                    </div>
                    <div class="col-md-5">
                        <h4 class="text-right">
                            Explore.. Create.. Share..
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                        <h4>
                            Data Selection Level
                        </h4>
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary active">District</button>
                            <button type="button" class="btn btn-primary">Mandal</button>
                        </div>
                    </div>
            </div>

            <div class="row">
                <div class="col-md-2" class="data-section-list">
                    <h4>
                        Sector
                    </h4>
                    <div class="data-options">
                        <div class="has-feedback options-list">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-close" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div id="the-basics" class="search-bar">
                            <input class="form-control typeahead input-sm" />
                        </div>
                        <div class="options-list">
                            <span class="btn btn-default form-search-icon"><i class="fa fa-search"></i></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="data-pagination">
                        <ul>
                            <li ng-repeat="page in dashBoardCtrl.alPhaPaging track by $index"><a href="#">{{page}}</a></li>
                        </ul>
                    </div>
                    <div class="dashboard-data-list">
                        <ul>
                            <li ng-repeat="item in dashBoardCtrl.sectors track by $index">
                                <i class="fa fa-info-circle"></i>
                                <input type="checkbox" /> {{item}}
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-2" class="data-section">
                    <h4>
                        Book Name
                    </h4>
                    <div class="data-options">
                        <div class="has-feedback options-list">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-close" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div id="the-basics" class="search-bar">
                            <input class="form-control typeahead input-sm" />
                        </div>
                        <div class="options-list">
                            <span class="btn btn-default form-search-icon"><i class="fa fa-search"></i></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="data-pagination">
                        <ul>
                            <li ng-repeat="page in dashBoardCtrl.alPhaPaging track by $index"><a href="#">{{page}}</a></li>
                        </ul>
                    </div>
                    <div class="dashboard-data-list">
                        <ul>
                            <li ng-repeat="item in dashBoardCtrl.bookNames track by $index">
                                <i class="fa fa-info-circle"></i>
                                <input type="checkbox" /> {{item}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2" class="data-section">
                    <h4>
                        Year
                    </h4>
                    <div class="data-options">
                        <div class="has-feedback options-list">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-close" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div id="the-basics" class="search-bar">
                            <input class="form-control typeahead input-sm" />
                        </div>
                        <div class="options-list">
                            <span class="btn btn-default form-search-icon"><i class="fa fa-search"></i></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="data-pagination">
                        <ul>
                            <li>View Recent Values</li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">20</a></li>
                            <li><a href="#">25</a></li>
                            <li><a href="#">50</a></li>
                        </ul>
                    </div>
                    <div class="dashboard-data-list years">
                        <ul>
                            <li ng-repeat="item in dashBoardCtrl.years track by $index">
                                <input type="checkbox" /> {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3" class="data-section">
                    <h4>
                        Contents
                    </h4>
                    <div class="data-options">
                        <div class="has-feedback options-list">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-close" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div id="the-basics" class="search-bar">
                            <input class="form-control typeahead input-sm" />
                        </div>
                        <div class="options-list">
                            <span class="btn btn-default form-search-icon"><i class="fa fa-search"></i></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="data-pagination">
                        <ul>
                            <li ng-repeat="page in dashBoardCtrl.alPhaPaging track by $index"><a href="#">{{page}}</a></li>
                        </ul>
                    </div>
                    <div class="dashboard-data-list">
                        <ul>
                            <li ng-repeat="item in dashBoardCtrl.contents track by $index">
                                <i class="fa fa-info-circle"></i>
                                <input type="checkbox" /> {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>
                        Indicators
                    </h4>
                    <div class="data-options">
                        <div class="has-feedback options-list">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-close" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div id="the-basics" class="search-bar">
                            <input class="form-control typeahead input-sm" />
                        </div>
                        <div class="options-list">
                            <span class="btn btn-default form-search-icon"><i class="fa fa-search"></i></span>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="data-pagination">
                        <ul>
                            <li ng-repeat="page in dashBoardCtrl.alPhaPaging track by $index"><a href="#">{{page}}</a></li>
                        </ul>
                    </div>
                    <div class="dashboard-data-list">
                        <ul>
                            <li ng-repeat="item in dashBoardCtrl.indicators track by $index">
                                <i class="fa fa-info-circle"></i>
                                <input type="checkbox" /> {{item}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default">Help & Feedback</button>
                    <button type="button" class="btn btn-default">Select All Indicators</button>
                </div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-default">Clear All Selectors</button>
                    <button type="button" class="btn btn-default">Export to Excel</button>
                </div>
            </div>
        </div>
    </div>
</div>